<div class="page-body" id="login-page">
  <h2 class="mat-h2">Regisztráció</h2>

  <form [formGroup]="registrationForm" novalidate>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Teljes név" formControlName="fullname">
        <mat-error *ngIf="fullname.hasError('required')">
          Teljes név megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Felhasználónév" formControlName="username">
        <mat-error *ngIf="username.hasError('required')">
          Felhasználónév megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="Jelszó" formControlName="password" type="password">
        <mat-error *ngIf="password.hasError('required')">
          Jelszó megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email">
        <mat-error *ngIf="email.hasError('required')">
          E-mail megadása <strong>kötelező</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control" *ngIf="realRole===Admin">
      <mat-form-field>
        <mat-select placeholder="Beosztás" (selectionChange)="setRole($event)">
          <mat-option *ngFor="let role of Roles" value="Role">{{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button class="mat-primary" (click)="submit()">Regisztráció</button>
  </form>
</div>
