<h1>Foglalások</h1>
<div id="top-panel" *ngIf="!isloggedin">
  <div id="adatok">
    <form class="container" [formGroup]="reservationForm" novalidate>
      <h2>Személyes adatok</h2>
      <div class="form-control">
        <mat-form-field>
          <input matInput placeholder="Teljes név" formControlName="username">
          <mat-error *ngIf="username.hasError('required')">
            Felhasználónév megadása <strong>kötelező</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field>
          <input matInput placeholder="Telefonszám" formControlName="phonenumber">
          <mat-error *ngIf="phonenumber.hasError('required')">
            Telefonszám megadása <strong>kötelező</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div id="megjegyzes" class="form-control">
        <mat-form-field>
          <textarea matInput rows="3" placeholder="Megjegyzés" formControlName="comment"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button class="mat-primary" (click)="add()">Foglalás leadása</button>
    </form>
  </div>

</div>

<div class="mat-elevation-z8" ><!--*ngIf="isloggedin"-->

  <table mat-table [dataSource]="realdataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Number </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Fullname Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>

    <!-- Phonenumber Column -->
    <ng-container matColumnDef="phonenumber">
      <th mat-header-cell *matHeaderCellDef> Telefonszám </th>
      <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Megjegyzés </th>
      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Dátum </th>
      <td mat-cell *matCellDef="let element"> {{toDate(element.dates) | date:'medium'}} </td>
    </ng-container>

    <!-- Tablenumber Column -->
    <ng-container matColumnDef="tablenumber">
      <th mat-header-cell *matHeaderCellDef> Asztalszám </th>
      <td mat-cell *matCellDef="let element"> {{element.tablenumber}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Módosítás </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button="asd" (click)="delete(element.id)">Törlés</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="realdisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: realdisplayedColumns;"></tr>
  </table>
</div>

