<h1>Rendelés</h1>
<div id="top-panel">
  <div id="adatok">
    <form class="container" [formGroup]="orderForm" novalidate>
      <h2>Egyéb tudnivaló</h2>
      <div id="megjegyzes" class="form-control">
        <mat-form-field>
          <textarea matInput rows="3" placeholder="Megjegyzés" formControlName="comment"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>

</div>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="realdataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Név </th>
        <td mat-cell *matCellDef="let element"> {{element.names}} </td>
      </ng-container>

      <!-- Ingredients Column -->
      <ng-container matColumnDef="ingredients">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ingredients}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Ár </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>


      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Rendelés </th>
        <td mat-cell *matCellDef="let element">
        <button mat-button="asd" (click)="add(element.id,element.names,element.ingredients,element.price)">Rendelés</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="realdisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: realdisplayedColumns;"></tr>
    </table>
  </div>

