div {
  margin: 2%;
}

table {
  width: 95%;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
}

#top-panel {
  padding: 0;
  border: 0.1rem solid gray;
  border-radius: 10px;
  width: 90%;
}

#adatok {
  width: 100%;
  padding: 1%;
}

textarea {
  resize: none;
}

.mat-elevation-z8.mat-elevation-z8 {
  padding-top: 4px;
  padding-left: 4px;
}

h1 {
  text-align: center;
}

#progressbar {
  width: 95%;
}

