<mat-toolbar id="top-menu">

  <div class="center">
    <a mat-button *ngFor="let menu of menus" [routerLink]="menu.link" routerLinkActive="active">{{menu.title}}</a>
  </div>

  <div class="right">
    <div class="unauthorized" >
      <a mat-button routerLink="/login">Belépés</a>
      <a mat-button routerLink="/registration">Regisztráció</a>
      <a mat-button routerLink="/carte" >Étlap</a>
      <a mat-button routerLink="/order" >Rendelés</a>
      <a mat-button routerLink="/orders" >Rendelések</a>
      <a mat-button routerLink="/reservation" >Foglalások</a>
      <a mat-button routerLink="/rating" >Értékelések</a>
    </div>
  </div>

</mat-toolbar>
